@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


p,
span,
h1,
h2,
h3,
h4,
h5, div {
  font-family: 'Nokora', sans-serif !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.hide-y-scroll {
  overflow-x: auto;
  overflow-y: hidden;
}

.hide-x-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

a:focus, a:active {
  outline: none;
  text-decoration: none;
}

.custom-ant-card-body {
  padding: 10px; /* or any other value */
}